<div id="questions">
  <h3 id="question"><st>Question:</st> <%= @question %></h3>
  <h5><%= @questionner %></h5>
</div>
<div id="questions">
  <h3 id="answer"><st>Answer:</st> <%= @answer %></h3>
  <h5><%= @answerer %></h5>
</div>

<div id="end_link">
<%= link_to "Ask another question", root_path %>
</div>

