<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 id="title" >THE QUESTION GAME</h1>
      <%= yield %>
      <h5 id="like_our_game"> Do you like our game? Rate us on the interWeb!!</h5>
      </div>
  </body>
</html>
